<title>Examples</title>

A number of sample applications included with Jsi.

<h2>SqliteUI</h2>

SqliteUI is an Sqlite GUI written in Jsi with a Web browser user interfaces.
Details are [../../sqliteui/sqliteui.wiki|here].


<h2>Ledger</h2>

Ledger is an accounting application written in Jsi with a Web browser user interfaces.
Details are [../../ledger/ledgerjs.wiki|here].

